:root {
    --text: #E2E8CE;
    --green: #C8D5B9;
    --greenmuted: #8FC0A9;
    --ashgrey: #ACBFA4;
    --red: #FF1B1C;
    --orange: #FF7F11;
    --gold: #a58d24;
    --bg: #262626;
    --bg2: #1f1e1e;
    --darkaccent: #625b5b;
}
