@media screen and (max-width: 1500px) {
    .sidebar-nav {
        left: 0rem;
        padding: 0.75rem 1rem;
        gap: 0.25rem;
        
    }
    body {
        padding-left: 8rem;
    }
    .nav-bar {
        width: 60%;
    } 
}

@media screen and (max-width: 768px) {
    .sidebar-nav {
        display: none; /* Hide on mobile */
    }
    body {
        padding: 2rem; /* Reset padding on mobile */
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .main-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .sidebar-nav {
        display: none; /* Hide on mobile */
    }
    body {
        padding: 2rem; /* Reset padding on mobile */
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .main-title {
        font-size: 3rem;
    }
    .hero {
        margin-top: 300px;
    }
}

@media screen and (max-width: 275px) {
    .sidebar-nav {
        display: none; /* Hide on mobile */
    }
    body {
        padding: 2rem; /* Reset padding on mobile */
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .main-title {
        font-size: 3rem;
    }
    .hero {
        margin-top: 350px;
    }
}