.price {
    color: var(--lilacashe);
}
.tabledesc {
    width: 60%;
}
.brand {
    color: var(--lilacashe);
}
.tabledesc {
    color: var(--lilacashe);
}

.heading {
    color: var(--gold);
}
td {
    color: var(--lilacashe);
}
.white td {
    color: var(--white);
}